@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Space Grotesk', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

@layer components {
    .glass-card {
        @apply bg-black/60 backdrop-blur-xl border border-white/10;
    }

    .hero-gradient {
        background: linear-gradient(180deg, rgba(16, 29, 34, 0) 0%, rgba(16, 29, 34, 1) 90%);
    }
}